@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<form method="get">
    <div class="input-group">
        <input class="form-control" asp-for="SearchTerm" value="celica" />

        <select class="selectBoxSort" id="selectSort" asp-for="SortType">
            <option value=0>Price Low to High</option>
            <option value=1>Price High to Low</option>
            <option value=2>Most Recent</option>
            <option value=3>Kilometres Low to High</option>
            <option value=4>Kilometres High to Low</option>
        </select>

        <select class="selectBoxTrans" id="selectTrans" asp-for="TransType">
            <option value=0>All</option>
            <option value=1>Manuel</option>
            <option value=2>Automatic</option>
        </select>

        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

<div>
    <ul class="itemList">
        @foreach (var car in Model.Cars)
        {
            <li class="carItem">
                <a href="@car.Link" class="list-group-item">
                    <img src="@car.ImgUrl" alt="This listing has no image" width="200" height="200">
                    <h3>@car.Name</h3>
                    <h4><i class="fa fa-usd"></i> <i>@car.Price</i></h4>

                    <ul class="itemText">
                        <li> <i class="fa fa-line-chart"></i> <i>@car.KMs KM</i></li>
                        @for (int i = 0; i < car.ExtraInfo.Length; i++)
                        {
                            @if (car.ExtraInfo[i] != null)
                            {
                                <li> <i class="@IndexModel.Icons[i]"></i> <i>@car.ExtraInfo[i]</i></li>
                            }
                        }

                    </ul>

                    <img src=@Model.getLogo(car.Source) asp-append-version="true" alt="logo" width="96" height="64" />

                </a>
            </li>
        }
    </ul>
</div>

<div>
    <ul class="pages">
        @if (Model.ShowPrevious)
        {
        <li class="page-item">
            <a asp-page="" asp-route-SearchTerm="@Model.SearchTerm" asp-route-SortType="@Model.SortType" asp-route-PageNum="@(Model.PageNum - 1)" class="page-link">Previous Page</a>
        </li>
        }
        @if (Model.ShowNext)
        {
        <li class="page-item">
            <a asp-page="" asp-route-SearchTerm="@Model.SearchTerm" asp-route-SortType="@Model.SortType" asp-route-PageNum="@(Model.PageNum + 1)" class="page-link">Next Page</a>
        </li>
        }
    </ul>
</div>
